In [16]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
mpl.use('TkAgg')
#%matplotlib notebook

In [17]:
#Sample dataset downloaded from  “London Crime Data, 2008–2016” dataset on Kaggle (london_crime_by_lsoa.csv).

df = pd.read_csv('/Users/tyl17/Downloads/london_crime_by_lsoa.csv')
df.head()

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6

In [18]:
print(len(df['borough'].unique()))
print(df['borough'].unique())
print(len(df['major_category'].unique()))
print(df['major_category'].unique())
print(len(df['minor_category'].unique()))
print(df['minor_category'].unique())

33
['Croydon' 'Greenwich' 'Bromley' 'Redbridge' 'Wandsworth' 'Ealing'
 'Hounslow' 'Newham' 'Sutton' 'Haringey' 'Lambeth' 'Richmond upon Thames'
 'Hillingdon' 'Havering' 'Barking and Dagenham' 'Kingston upon Thames'
 'Westminster' 'Hackney' 'Enfield' 'Harrow' 'Lewisham' 'Brent' 'Southwark'
 'Barnet' 'Waltham Forest' 'Camden' 'Bexley' 'Kensington and Chelsea'
 'Islington' 'Tower Hamlets' 'Hammersmith and Fulham' 'Merton'
 'City of London']
9
['Burglary' 'Violence Against the Person' 'Robbery' 'Theft and Handling'
 'Criminal Damage' 'Drugs' 'Fraud or Forgery' 'Other Notifiable Offences'
 'Sexual Offences']
32
['Burglary in Other Buildings' 'Other violence' 'Personal Property'
 'Other Theft' 'Offensive Weapon' 'Criminal Damage To Other Building'
 'Theft/Taking of Pedal Cycle' 'Motor Vehicle Interference & Tampering'
 'Theft/Taking Of Motor Vehicle' 'Wounding/GBH' 'Other Theft Person'
 'Common Assault' 'Theft From Shops' 'Possession Of Drugs' 'Harassment'
 'Handling Stolen Goods' 'Criminal Damage To Dwelling'
 'Burglary in a Dwelling' 'Criminal Damage To Motor Vehicle'
 'Other Criminal Damage' 'Counted per Victim' 'Going Equipped'
 'Other Fraud & Forgery' 'Assault with Injury' 'Drug Trafficking'
 'Other Drugs' 'Business Property' 'Other Notifiable' 'Other Sexual'
 'Theft From Motor Vehicle' 'Rape' 'Murder']

In [19]:
df.shape

(13490604, 7)

In [20]:
# Select columns you need
df = df[['borough', 'major_category']]
# Group boroughs and crimes and count numbers
df_grouped = df.groupby(['borough', 'major_category']).size().reset_index()
# Create a pivot table
table = pd.pivot_table(df_grouped, index=['borough'], columns=['major_category'])
# Delete columns with Nan values and convert to integers
table = table.dropna(axis=1).astype(int)
table

                              0                         \
major_category         Burglary Criminal Damage  Drugs
borough
Barking and Dagenham      23760           46764  26244
Barnet                    45576           89748  47412
Bexley                    31536           61884  33264
Brent                     37368           73440  46980
Bromley                   42552           84456  42336
Camden                    28728           57348  34020
City of London              540            1188    756
Croydon                   47520           94176  51948
Ealing                    42336           84024  50220
Enfield                   39528           77760  44064
Greenwich                 32616           64800  37260
Hackney                   31104           61884  38772
Hammersmith and Fulham    24408           48492  31860
Haringey                  31320           62424  35424
Harrow                    29592           57996  31212
Havering                  32400           64152  32616
Hillingdon                34776           68580  37584
Hounslow                  30672           61020  33912
Islington                 26568           53028  34128
Kensington and Chelsea    22248           44496  26568
Kingston upon Thames      21168           42120  22140
Lambeth                   38448           76572  48060
Lewisham                  36504           72684  43740
Merton                    26784           52920  29160
Newham                    35424           70416  41580
Redbridge                 34776           68796  36504
Richmond upon Thames      24840           49572  23004
Southwark                 35856           71496  45144
Sutton                    26136           51408  26784
Tower Hamlets             31104           62100  37368
Waltham Forest            31104           61776  34884
Wandsworth                38664           76464  41904
Westminster               27648           55188  32616

                                                                             \
major_category         Other Notifiable Offences Robbery Theft and Handling
borough
Barking and Dagenham                       17496   22248              91260
Barnet                                     31320   39528             171180
Bexley                                     20088   25920             113076
Brent                                      28728   34128             141156
Bromley                                    28296   34668             156492
Camden                                     23220   26784             111240
City of London                               432     540               3564
Croydon                                    30564   43740             176256
Ealing                                     31536   37908             160812
Enfield                                    29484   35532             150444
Greenwich                                  22032   30240             124308
Hackney                                    27324   29160             120420
Hammersmith and Fulham                     22140   21708              96444
Haringey                                   23760   29484             120420
Harrow                                     20196   23976             107892
Havering                                   21060   27648             118800
Hillingdon                                 23112   29808             132084
Hounslow                                   23544   26028             117936
Islington                                  23004   26244             103788
Kensington and Chelsea                     19980   20304              87264
Kingston upon Thames                       14580   15660              77328
Lambeth                                    31752   37908             150552
Lewisham                                   27324   34884             140400
Merton                                     19440   23652             101196
Newham                                     26136   34452             137592
Redbridge                                  24840   32400             131760
Richmond upon Thames                       17712   18468              93204
Southwark                                  28620   35316             139320
Sutton                                     17712   21060              96768
Tower Hamlets                              25812   28512             121284
Waltham Forest                             23112   30348             118584
Wandsworth                                 30024   36072             146340
Westminster                                21924   25056             107136


major_category         Violence Against the Person
borough
Barking and Dagenham                         73224
Barnet                                      136080
Bexley                                       93204
Brent                                       115992
Bromley                                     123984
Camden                                       86832
City of London                                2700
Croydon                                     143424
Ealing                                      130032
Enfield                                     120852
Greenwich                                   100980
Hackney                                      97308
Hammersmith and Fulham                       74952
Haringey                                     96876
Harrow                                       87480
Havering                                     95472
Hillingdon                                  104436
Hounslow                                     92232
Islington                                    83160
Kensington and Chelsea                       67176
Kingston upon Thames                         60912
Lambeth                                     120312
Lewisham                                    113832
Merton                                       78408
Newham                                      111240
Redbridge                                   105300
Richmond upon Thames                         72144
Southwark                                   111780
Sutton                                       77760
Tower Hamlets                                96336
Waltham Forest                               96120
Wandsworth                                  116532
Westminster                                  84672

In [21]:
table.shape

(33, 7)

In [22]:
row_num = [5] # No. of the row
font_color = '#525252'
colors = ['#f7ecb0', '#ffb3e6', '#99ff99', '#66b3ff', '#c7b3fb','#ff6666', '#f9c3b7']
values = table.iloc[row_num].values.tolist()[0] # crime numbers
labels = [x[1] for x in table.columns] # crime names
title = table.iloc[row_num].index.values.tolist()[0] # borough

In [23]:
# Create subplots and a pie chart
fig, ax = plt.subplots(figsize=(10, 7), facecolor='#e8f4f0')
ax.pie(values, labels=labels, colors=colors, startangle=30, textprops={'color':font_color})
# Set title, its position, and font size
title = plt.title(title, fontsize=16, color=font_color)
title.set_position([.5, 1.02])
mpl.rcParams['font.size'] = 16.0

In [24]:
filename = 'pie-chart-single'
plt.savefig(filename+'.png', facecolor=('#e8f4f0'))

In [25]:
font_color = '#525252'
colors = ['#f7ecb0', '#ffb3e6', '#99ff99', '#66b3ff', '#c7b3fb','#ff6666', '#f9c3b7']

In [26]:
fig, axes = plt.subplots(3, 3, figsize=(10, 10), facecolor='#e8f4f0')
fig.delaxes(ax= axes[2,2])

In [27]:
for i, (idx, row) in enumerate(table.head(8).iterrows()):
    ax = axes[i // 3, i % 3]
    row = row[row.gt(row.sum() * .01)]
    ax.pie(row, 
           labels=row.values, 
           startangle=30, 
           wedgeprops=dict(width=.5), # For donuts
           colors=colors, 
           textprops={'color':font_color})
    ax.set_title(idx, fontsize=16, color=font_color)
    
    legend = plt.legend([x[1] for x in row.index], 
                        bbox_to_anchor=(1.3, .87), # Legend position
                        loc='upper left',  
                        ncol=1, 
                        fancybox=True)
    for text in legend.get_texts():
        plt.setp(text, color=font_color) # Legend font color

fig.subplots_adjust(wspace=.2) # Space between charts

title = fig.suptitle('Categories of crime in London boroughs', y=.95, fontsize=20, color=font_color)
# To prevent the title from being cropped
plt.subplots_adjust(top=0.85, bottom=0.15)

In [28]:
filename = '/Users/tyl17/Documents/pie-chart'
plt.savefig(filename+'.png', facecolor=('#e8f4f0'))

In [30]:
print(mpl.get_backend())

TkAgg

In [31]:
%matplotlib tk
plt.show()